---
import Card from "./Card.astro";
const {flightInfo} = Astro.props;
---

<aside>
	<label for="search-bar">Search a flight</label>
	<input type="search" id="search-bar">
	<button>Search</button>
	<p>Total Aircraft: 6259</p>
	{ flightInfo.states.map(state => {
		const [route, place, title, pos, lastcontact, long, lat] = state;
		return (
			<Card title={title} place={place} route={route} longitude={long} latitude={lat} />
		)
	})}
</aside>

<style>
	aside {
		outline: 1px solid var(--lines);
		width: 30%;
		height: 100vh;
	}

	input {
		padding: 10px;
		margin: 25px;
		background: transparent;
		border: none;
		outline: 1px solid var(--lines);
		color: white;
	}

	button {
		color: white;
		background: black;
		outline: 1px solid var(--lines);
		border: none;
		padding: 10px;
	}

	button:hover {
		cursor: pointer;
		background: white;
		color: black;
	}
</style>