---
const { flight } = Astro.params;
import staticData from "./../all.json" assert { type: "json" };
const flightState = staticData.states.find(s => s[0] === flight);
let flightInfo = undefined;
let onrender = import.meta.env.ONRENDER;

if (onrender)
{
	flightInfo = staticData;
}
else {
	let main = "https://opensky-network.org/api/states/all?icao24=";
	let icao = flight;
	let url = main + icao;
	const response = await fetch(url);
	flightInfo = await response.json();
}

---

<link rel="stylesheet" href="/global.css">
<label>Show manual
	<input value="man" type="checkbox"></input>
</label>
<section id="man-dialog">
	<h2>Manual</h2>
	<table>
		<tr>
			<th>icao24</th>
			<td>ICAO24 transponder addresses represented by a hex string</td>
		</tr>
		<tr>
			<th>callsign</th>
			<td>Callsign of the vehicle</td>
		</tr>
		<tr>
			<th>time position</th>
			<td>Unix timestamp (seconds) for the last position update.</td>
		</tr>
		<tr>
			<th>vertical rate</th>
			<td>A positive value indicates that the airplane is climbing, a negative value indicates that it descends. Can be null.</td>
		</tr>
		<tr>
			<th>last contact</th>
			<td>Unix timestamp (seconds) for the last update in general. This field is updated for any new, valid message received from the transponder.</td>
		</tr>
		<tr>
			<th>position_source</th>
			<td>Origin of this states position. 0 = ADS-B 1 = ASTERIX 2 = MLAT 3 = FLARM</td>
		</tr>
	</table>
</section>
<section>
	<h2>Origin country {flightState[2]}</h2>
	<h1>Flight {flight}</h1>
	<div>
		<ul>
			<li>callsign</li>
			<li>{flightState[1]}</li>
			<li>time position</li>
			<li>{flightState[3]} sec</li>
			<li>last contact</li>
			<li>{flightState[4]} sec</li>
			<li>longitude</li>
			<li>{flightState[5]}</li>
			<li>latitude</li>
			<li>{flightState[6]}</li>
			<li>baro altitude</li>
			<li>{flightState[7]} meters</li>
		</ul>
		<ul>
			<li>velocity</li>
			<li>{flightState[9]} m/s</li>
			<li>true track</li>
			<li>{flightState[10]}</li>
			<li>vertical rate</li>
			<li>{flightState[11]} m/s</li>
			<li>geo altitude</li>
			<li>{flightState[13]}</li>
			<li>squawk</li>
			<li>{flightState[14]}</li>
			<li>position source</li>
			<li>{flightState[16]}</li>
		</ul>
	</div>
</section>
<section class="globe-container">
	<main id="globe">
	</main>
</section>
<script src="https://cdn.jsdelivr.net/npm/globe.gl"></script>
<script define:vars={{flightState}} type="module">
		// @ts-nocheck
		const globe = new Globe(document.getElementById('globe'))
		.globeImageUrl('./big.jpg')
		.width(1800)
		.height(800)
		.pointsData([{ lat: flightState[5], lng: flightState[6], size: 0.2, color: '#54f542' }])
		.pointAltitude(1)
		.pointRadius(d => d.size)
		.pointColor(d => d.color);
</script>

<style>

	h1 {
		padding: 15px;
	}

	h2 {
		padding: 10px;
	}

	label {
		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	section
	{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	li {
		font-size: 20px;
	}

	li:nth-child(odd)
	{
		font-size: 12px;
		padding: 10px 0;
	}

	div {
		display: flex;
		gap: 25px;
	}

	table {
		width: 50%;
		border-collapse: collapse;
	}

	table, td, th {
  		border: 1px solid rgb(255, 255, 255);
  		padding: 15px;
	}

	th {
		text-align: left;
		font-size: 1.5em;
		font-family: 'worldstar', Courier, monospace;
		font-weight: 100;
		padding: 5px;
	}

	input {
		margin: 0 10px;
	}

	.globe-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	#man-dialog {
		display: none;
	}

	#globe {
		position: absolute;
		top: 25px;
	}

	body:has([value="man"]:checked) #man-dialog {
		display: flex;
		padding: 25px;
	}
</style>